{% extends "base.html" %}

{% load staticfiles %}
{% load i18n %}

{% block top_div_extra_class %}jumbotron{% endblock %}

{% block top_div_extra_content %}

    <div id="logo_div" class="ui text">
        <img id="jumbo_logo" src="{% static 'img/MSC-dark.png' %}">
        <div class="logo-title">NeuronSpark 2025</div>
    </div>

{% endblock %}

{% block content %}

    <!-- 公告  -->
    {% if announcement %}
    <div style="margin: 0 auto; overflow: hidden;min-width: 60%;height: fit-content;"
        class="segment-container ui segment full-width announce">
        <div class="ui header">
            <p>📣公告📣</p>
        </div>
        <div class="container-content">
            <div class="center aligned column">
                {{ announcement | safe }}
                <!-- {{ announcement | markdown | safe  -->
            </div>
        </div>
    </div>
    {% endif %}

    <div class="home-wrap">
        <front-page-competitions></front-page-competitions>
        {% comment %}
        <!-- 行动部分 -->
        <div id="action-container" class="segment-container ui segment full-width">
            <div class="ui header">
                开始
            </div>
            <div class="container-content">
                <div class="center aligned column">
                    <h3 class="ui icon header">
                        <i class="trophy icon"></i>
                        参与
                    </h3>
                    <div>
                        <p>找到让你感兴趣的题目！题目允许你将新算法与参考数据集进行测试，或者（反向赛题）向参考算法提交具有挑战性的数据。</p>
                    </div>
                </div>
                <div class="center aligned column">
                    <h3 class="ui icon header">
                        <i class="users icon"></i>
                        队伍
                    </h3>
                    <div>
                        <p>在 Codabench 上队伍题目。首先查看我们的 <a href="https://github.com/codalab/codabench/wiki/Getting-started-with-Codabench">教程</a>。</p>
                    </div>
                </div>
                <div class="center aligned column">
                    <h3 class="ui icon header">
                        <i class="code icon"></i>
                        贡献
                    </h3>
                    <div>
                        <p>有兴趣加入开发团队吗？请在 <a href="https://github.com/codalab/codabench">Github</a> 上与我们联系，或直接 <a href="mailto:info@codalab.org">联系我们</a>。</p>
                    </div>
                </div>
            </div>
        </div>
        {% endcomment %}
        <!-- Stats section -->
        <div class="ui three column grid" id="general-stats">
            <!-- Public Competitions -->
            <div class="column">
                <div class="ui statistic">
                    <div class="value">{{ HOME_PAGE_COUNTERS_INFO.public_competitions }}</div>
                    <div class="label">公开题目</div>
                </div>
            </div>
            <!-- Users -->
            <div class="column">
                <div class="ui statistic">
                    <div class="value">{{ HOME_PAGE_COUNTERS_INFO.users }}</div>
                    <div class="label">用户</div>
                </div>
            </div>
            <!-- Submissions -->
            <div class="column">
                <div class="ui statistic">
                    <div class="value">{{ HOME_PAGE_COUNTERS_INFO.submissions }}</div>
                    <div class="label">提交</div>
                </div>
            </div>
        </div>
        {% comment %}
        <!-- 关于 Codabench -->
        <!-- <div id="about-container" class="segment-container ui segment full-width">
            <div class="ui header">
                关于 Codabench
            </div>
            <div class="container-content">
                <div class="ui middle stackable grid container">
                    <div class="eight wide left aligned column">
                        <div class="row column-bottom-padding">
                            <h3 class="ui color-header header">什么是 Codabench？</h3>
                            <div class="ui divider"></div>
                            <p>Codabench 是一个 <a href="https://github.com/codalab/codabench">开源</a> 平台，允许你队伍 AI 题目。它灵活且强大，但易于使用。你定义任务（例如数据集和成功指标），然后接口用于提交代码（算法），添加一些文档页面，进行上传，完成！你的题目就创建好了，准备接受新算法的提交。所有内容都可以完全自定义，包括评分程序的代码。队伍者甚至可以将自己的计算工作者连接到他们的题目，从而实现无限的计算能力。参与者可以尝试他们的方法，获得实时反馈和竞争排行榜上的结果、详细图表等。</p>
                            <p>在一个独特的转折中，Codabench 还允许你创建反向题目。在这种情况下，数据集和算法的角色被互换。在这种情况下，你设置参考算法，参与者贡献数据集。</p>
                        </div>

                        <div class="row column-bottom-padding">
                            <h3 class="ui color-header header">什么是 CodaLab？</h3>
                            <div class="ui divider"></div>
                            <p>CodaLab Competitions 是一个强大的 <a href="https://github.com/codalab/codalab-competitions">开源</a> 框架，用于运行使用结果或代码提交的竞赛。你可以参与现有的竞赛或免费举办自己的竞赛。</p>
                            <p>大多数在 CodaLab 上举办的竞赛都是机器学习（数据科学）竞赛，但并不限于此应用领域。它可以容纳任何可以以包含多个文件的 zip 压缩包形式提供解决方案的问题，这些文件将由队伍者提供的评分程序进行定量评估。评分程序必须返回一个数字分数，该分数显示在排行榜上，参与者的表现进行比较。</p>
                        </div>

                        <div class="row column-bottom-padding">
                            <h3 class="ui color-header header">CodaLab 的历史</h3>
                            <div class="ui divider"></div>
                            <p>CodaLab 于 2013 年由微软和斯坦福大学共同创建。最初的愿景是创建一个生态系统，以更高效、可重复和协作的方式进行计算研究，结合工作表和竞赛。工作表以可重复的方式捕获复杂的研究流程，并创建"可执行论文"。Codabench 是 CodaLab 的延续，是一个版本 2，用户可以队伍题目。</p>
                            <p>一些竞赛已经使用工作表队伍，但竞赛平台和工作表平台都有庞大的用户基础，可以独立使用。2014 年，<a class="large_links" href="http://www.chalearn.org/">ChaLearn</a> 加入共同开发 CodaLab 竞赛。自 2015 年以来，巴黎萨克雷大学是 CodaLab 竞赛的社区负责人，由大数据教授 Isabelle Guyon 领导。CodaLab 和 Codabench 由 <a class="large_links" href="https://www.lisn.upsaclay.fr/">LISN 团队</a> 管理。</p>
                        </div>

                        <div class="row column-bottom-padding">
                            <h3 class="ui color-header header">CodaLab 在研究中的应用</h3>
                            <div class="ui divider"></div>
                            <p>CodaLab 在研究中被积极使用。在 2019/2020 年，推出了 400 个新挑战。最近使用 CodaLab 队伍的热门挑战包括 <a href="https://competitions.codalab.org/competitions/25276">COVID-19 转发预测挑战</a>、<a href="https://competitions.codalab.org/competitions/24184">ECCV 2020 ChaLearn LAP 公平人脸识别挑战</a>、2020 年的 <a href="https://competitions.codalab.org/competitions/21639">DriveML 华为自动驾驶汽车挑战</a>，以及高知名度的挑战，包括 <a class="large_links" href="https://web.see4c.eu/">200 万欧元的欧盟奖金，由 See.4C 联盟队伍</a>、<a class="large_links" href="https://competitions.codalab.org/competitions/16652">CIKM AnalytiCup 2017</a>，吸引了 493 名参与者，<a class="large_links" href="https://competitions.codalab.org/competitions/3221">MSCOCO</a>（633 名参与者）和 <a class="large_links" href="https://competitions.codalab.org/competitions/2321">ChaLearn AutoML 挑战 2017</a>（687 名参与者）。</p>
                            <p>自 2016 年以来，CodaLab 提供了队伍机器学习挑战的可能性，允许代码提交。最简单的机器学习挑战只需要提交结果，这些结果由评分程序与解决方案（或关键）进行比较。结果提交挑战的计算成本低于代码提交挑战。然而，它们提供的可能性较少。特别是，代码提交允许在所有参与者的相同条件下执行提交的代码，从而进行公平的题目。</p>
                            <p>CodaLab 一直为希望举办高影响力活动的挑战队伍者提供免费资源，预算在预先批准的协议范围内。自 1.5 版以来：队伍者可以将自己的计算工作者连接到 CodaLab 的后端，以重定向代码提交，从而实现大数据竞赛的增长，费用由队伍者承担。对于非常特殊的专用项目，CodaLab 可以进行定制，因为它是一个开源项目。</p>
                        </div>

                    </div> -->
                    <!-- 新闻部分 -->
                    <!-- <div class="eight wide center aligned column">
                        <div class="row news-column-bottom-padding">
                            <h1 class="ui color-header header">新闻</h1>
                        </div>
                        {% for post in news_posts %}
                        <div class="row news-column-bottom-padding news">
                            <span class="news-date">{{post.created_when|date:"M d, Y"}}</span>
                            <div class="news-heading">
                                {% if post.link %}
                                    <a href="{{post.link}}" target="_blank"><h3>{{post.title}}</h3></a>
                                {% else %}
                                    <h3 class="news-heading-title">{{post.title}}</h3>
                                {% endif %}
                            </div>
                            <div class="news-body">
                                {{ post.text | safe }}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div> -->

        <!-- 引用部分 -->
        <!-- <div id="cite-container" class="segment-container ui segment full-width">
            <div class="ui header">
                在你的研究中引用 Codabench
            </div>
            <div class="row container-content">
                <pre>
@article{codabench,
    title = {Codabench: 灵活、易用且可重复的元赛题平台},
    author = {Zhen Xu and Sergio Escalera and Adrien Pavão and Magali Richard and
                Wei-Wei Tu and Quanming Yao and Huan Zhao and Isabelle Guyon},
    journal = {Patterns},
    volume = {3},
    number = {7},
    pages = {100543},
    year = {2022},
    issn = {2666-3899},
    doi = {<a href="https://doi.org/10.1016/j.patter.2022.100543" target="_blank">https://doi.org/10.1016/j.patter.2022.100543</a>},
    url = {<a href="https://www.sciencedirect.com/science/article/pii/S2666389922001465" target="_blank">https://www.sciencedirect.com/science/article/pii/S2666389922001465</a>}
} </pre>
            </div>
        </div> -->

        <!-- 合作伙伴部分 -->
        <!--
        <div class="segment-container ui segment full-width">
            <div class="ui header">合作伙伴</div>
            <div class="container-content" id="partners-row1">
                <a href="https://www.universite-paris-saclay.fr/" target="_blank">
                    <img class="partner-img" src="{% static 'img/partners/paris-saclay.png' %}">
                </a>
                <a href="https://www.microsoft.com/" target="_blank">
                    <img class="partner-img" src="{% static 'img/partners/microsoft.png' %}">
                </a>
                <a href="http://www.chalearn.org/" target="_blank">
                    <img class="partner-img" src="{% static 'img/partners/chalearn.png' %}">
                </a>
                <a href="http://www.ub.edu/web/ub/en/" target="_blank">
                    <img class="partner-img" src="{% static 'img/partners/barcelona.png' %}">
                </a>
                <a href="https://www.stanford.edu/" target="_blank">
                    <img class="partner-img" src="{% static 'img/partners/stanford.png' %}">
                </a>
                <a href="https://www.iledefrance.fr/" target="_blank">
                    <img class="partner-img" src="{% static 'img/partners/idf.jpg' %}">
                </a>
                <a href="https://www.inria.fr/" target="_blank">
                    <img class="partner-img" src="{% static 'img/partners/inria.png' %}">
                </a>
            </div>
            <div class="container-content">
                <a href="https://www.lisn.upsaclay.fr/" target="_blank">
                    <img class="partner-img" src="{% static 'img/partners/lisn.png' %}">
                </a>
                <a href="https://www.google.com/" target="_blank">
                    <img class="partner-img" src="{% static 'img/partners/google.jpg' %}">
                </a>
                <a href="https://en.4paradigm.com/" target="_blank">
                    <img class="partner-img" src="{% static 'img/partners/4paradigm.jpg' %}">
                </a>
                <a href="https://www.cnrs.fr/" target="_blank">
                    <img class="partner-img" src="{% static 'img/partners/cnrs.png' %}">
                </a>
                <a href="https://anr.fr/" target="_blank">
                    <img class="partner-img" src="{% static 'img/partners/anr.png' %}">
                </a>
                <a href="https://anr.fr/" target="_blank">
                    <img class="partner-img" src="{% static 'img/partners/anr2.jpg' %}">
                </a>
                <a href="https://www.eithealth.eu/" target="_blank">
                    <img class="partner-img" src="{% static 'img/partners/eit_health.jpg' %}">
                </a>
            </div>
        </div>
        -->
        {% endcomment %}
    </div>
{% endblock %}


{% block extra_body %}
    <script>
        // 防止按钮在移动视图中堆叠
        $(window).resize(function () {
            if ($(window).width() < 390) {
                return $('.pages')
                    .removeClass('huge')
                    .addClass('large');
            }
            $('.pages')
                .removeClass('large')
                .addClass('huge');
        }).trigger('resize');
    </script>
{% endblock %}
