{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="sixteen wide mobile six wide computer centered column">
    {% if ENABLE_SIGN_IN %}
    <h2 class="ui blue centered header">
        登录
    </h2>
    <!-- @todo 翻译这里的错误信息 -->
    {% if activation_error %}
    <div class="ui red message">
        {{ activation_error }}或点击<a href="{% url 'accounts:resend_activation' %}">这里</a>重新发送激活邮件
    </div>
    {% endif %}
    <div class="ui stacked segment">
        <form class="ui form" method="POST">
            {% csrf_token %}
            {% if form.non_field_errors %}
            <div class="ui red message">
                {{ form.non_field_errors }}
            </div>
            {% endif %}
            {% if form.username.errors %}
            <div class="ui red message">
                {{ form.username.errors }}
            </div>
            {% endif %}
            <div class="field">
                <div class="ui left icon input">
                    <i class="user icon"></i>
                    <input type="text"
                           name="username"
                           placeholder="用户名或邮箱"
                           id="id_username"
                           value="{{ form.username.value|default:''}}"
                           maxlength="{{ form.username.field.max_length }}"
                           autofocus
                           required>
                </div>
            </div>

            {% if form.password.errors %}
            <div class="ui red message">
                {{ form.password.errors }}
            </div>
            {% endif %}
            <div class="field">
                <div class="ui left icon input">
                    <i class="lock icon"></i>
                    <input type="password"
                           name="password"
                           placeholder="密码"
                           id="id_password"
                           value="{{ form.password.value|default:''}}"
                           maxlength="{{ form.password.field.max_length }}"
                           required>
                </div>
            </div>
            <button class="ui fluid blue submit button" type="submit">登录</button>
            <div class="ui divider"></div>
            {% if ENABLE_SIGN_UP %}
                <p>还没有账号？<a href="{% url 'accounts:signup' %}">注册</a>。</p>
            {% endif %}
            <p><a href="{% url 'accounts:password_reset' %}">忘记密码？</a></p>

            <div class="ui error message"></div>
        </form>
    </div>
    {% endif %}

    <!-- Auth Organization Buttons -->
    {% if auth_organizations %}
    <div class="sixteen wide mobile six wide computer centered column">
        <!-- @todo 原：Organization Login存疑 -->
        <h3 class="ui centered header">作为组织登录</h3>
        <form method="POST" action="{% url 'oidc_configurations:organization_oidc_login' %}">
            {% csrf_token %}
            <div>
                <input type="checkbox" name="checkbox" id="id_checkbox" required>
                <!-- @todo 原：terms and conditions存疑 -->
                <label for="id_checkbox">我同意<a href="https://github.com/codalab/codalab-competitions/wiki/Privacy"
                        target="_blank">使用条款</a>.</label>
            </div>
            {% for organization in auth_organizations %}
            <button class="ui fluid primary submit button"
                    type="submit"
                    name="organization_oidc_login"
                    value="{{ organization.id }}"
                    style="background-color: {{ organization.button_bg_color }};
                           color: {{ organization.button_text_color }};
                           margin-bottom:5px;">
                使用{{ organization.name }}登录
            </button>
            {% endfor %}
        </form>

    </div>
    {% endif %}
</div>
{% endblock %}
