{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="six wide centered column">
    <h2 class="ui blue centered header">
        重新发送激活邮件
    </h2>
    <div class="ui stacked segment">
        <!-- Activation link expired? -->
        <h5>未及时激活账号？</h5>
        <p>在下方输入您的邮箱，我们将重新发送激活邮件。</p>
        <div class="ui divider"></div>
        <form class="ui form" method="post">
            {% csrf_token %}

            <div class="field">
                <div class="ui left icon input">
                    <i class="envelope icon"></i>
                    <input type="email"
                           name="email"
                           placeholder="邮箱"
                           id="id_email"
                           value="{{ form.email.value|default:''}}"
                           maxlength="{{ form.email.field.max_length }}"
                           required>
                </div>
            </div>
            <!-- @todo 原：Resend Activation Email，存疑 -->
            <button class="ui blue fluid submit button" type="submit">发送</button>
        </form>
    </div>

</div>
{% endblock %}