{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class="ui container">
    <div class="ui segment">
        <h2 class="ui header">致谢</h2>
        <div class="ui divider"></div>
        <p>
            本平台感谢 <a href="https://github.com/codalab/codabench" target="_blank">CodaBench</a>
            提供源代码支持。CodaBench 是一个开源的基准测试和竞赛管理平台，
            由 <a href="https://github.com/codalab" target="_blank">CodaLab</a> 社区维护。
        </p>
        <p>
            本次 AI 竞赛由 <a href="https://www.sysumsc.cn" target="_blank">中山大学 MSC 社团</a> 队伍和举办，
            该社团致力于推动人工智能、机器学习以及计算机科学领域的发展。
        </p>
        <div class="ui message">
            <p>感谢所有参与本次竞赛的队伍者、志愿者和参赛者，
                你们的努力和贡献让这次竞赛更加精彩！</p>
        </div>
    </div>
</div>
{% endblock %}