{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class="ui container">
    <div class="ui segment">
        <h2 class="ui header">赛事鸣谢</h2>
        <div class="ui divider"></div>

        <div class="ui list">
            <div class="item">
                <i class="university icon"></i>
                <div class="content">
                    <strong>主办单位：</strong>中山大学计算机学院
                </div>
            </div>
            <div class="item">
                <i class="users icon"></i>
                <div class="content">
                    <strong>承办单位：</strong>中山大学互联网与开源技术协会
                </div>
            </div>
            <div class="item">
                <i class="user graduate icon"></i>
                <div class="content">
                    <strong>学术指导：</strong>陈少梅教授、王昌栋教授、刘阳教授
                </div>
            </div>
        </div>

        <div class="ui segment basic">
            <p>本次竞赛平台基于开源项目<a href="https://github.com/codalab/codabench" target="_blank">CodaBench</a>构建，
            特此感谢<a href="https://github.com/codalab" target="_blank">CodaLab</a>开源社区的技术支持。</p>
        </div>

        <div class="ui positive message">
            <div class="header">诚挚感谢</div>
            <p>谨向所有参赛团队、赛事工作人员及志愿者致以崇高敬意，
            诸位的专业素养与辛勤付出为本次竞赛的成功举办奠定了坚实基础，
            共同缔造了这一学术盛事。</p>
        </div>
    </div>
</div>
{% endblock %}